# Telegram bot token from BotFather
BOT_TOKEN=

# Telegram user_id of the admin
ADMIN_USER_ID=

# Telegram file_id of the placeholder video
PLACEHOLDER_VIDEO_ID=

# Telegram file_id of the lesson video
LESSON_VIDEO_ID=

# Lesson access duration in seconds
# Max: 172740 seconds = 47 hours 59 minutes
LESSON_TTL_SECONDS=30